footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    /* centering text vertically & horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    /* @ bottom of the page */
    position: fixed;
    bottom: 0;
}